.h2,
.piano-labels,
.contact-hdr {
    text-align: center;
}

.piano-cont {
    padding: 35px 40px;
    border-radius: 20px;
    background: #141414;
    width: fit-content;
}

.black-key {
    height: 70px;
    width: 22px;
    z-index: 2;
    margin: 0 -12px 0 -12px;
    border-radius: 0 0 5px 5px;
    background: linear-gradient(#333, #000);
    color: white;
}

.white-key {
    height: 173px;
    width: 45px;
    border-radius: 8px;
    border: 1px solid #000;
    background: linear-gradient(#fff 96%, #eee 4%);
    color: black;
}

.overall-cont {
    background: #7e928a;
}

.overall-cont,
.home-cont,
.grid-row {
    --bs-gutter-x: 0;
}

p {
    text-align: justify;
}

.bot-buffer {
    margin-bottom: 2%;
}

body,
.navbar-brand,
.nav-link {
    color: white;
    font-family: "Georgia", serif;
}

.projects-cont {
    padding: 5%;
    padding-top: 13.5%;
    padding-bottom: 1%;
}

.intro-cont {
    padding: 5%;
    padding-top: 17.5%;
    padding-bottom: 1%;
}

.footer-cont {
    padding-left: 4.5%;
    padding-right: 4.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    background: #aaa891;
}

/* navbar */
.navbar {
    --bs-navbar-toggler-focus-width: 0;
    --bs-navbar-active-color: #ebd7c6;
    --bs-navbar-brand-hover-color: white;
    --bs-nav-link-hover-color: white;
}

.navbar-brand:hover,
.nav-link:hover {
    color: #ebd7c6;
}

.navbar-brand {
    margin-right: 0;
}

.navbar-toggler {
    border: none;
    padding: 0;
}

/* offcanvas settings */
.offcanvas {
    --bs-offcanvas-bg: #aaa891;
    --bs-offcanvas-color: none;
}

/* custom grid */
.grid-cont {
    display: grid;
}

/* svg files */
.icon {
    filter: invert(1);
    height: auto;
}

/* projects page: cards s*/
.proj-row {
    padding: 1%;
}

.card-img-top {
    width: 100%;
    height: 15vh;
    object-fit: cover;
}

.card {
    width: 15rem; 
    height: fit-content;
    --bs-card-bg: #d6d2ce;
    --bs-card-border-color: #B8aaa5;
    --bs-card-border-width: 1.5px;
}

.card-title {
    color: #5a514b;
    font-weight: bold;
    font-size: 18px;
}

.card-text {
    color: #5a514b;
    font-size: 12px;
}

/* solution to extra space when zoomed out */
.home-cont,
.about-cont,
.projects-cont,
.form-outer-cont {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.form-outer-cont {
    padding: 10%;
    padding-top: 25%;
    padding-bottom: 15%;
}

/* forms */
.form-cont {
    background: #d6d2ce;
    color: #5a514b;
    border: 1.5px solid #B8aaa5;
}

.form-title {
    padding-top: 2%;
}

.form-title,
.form-areas {
    padding-bottom: 2%;
}   

.form-control {
    border-color: #B8aaa5;
}

.dropdown-menu {
    --bs-dropdown-min-width: 315px;
    --bs-dropdown-link-active-color: #fff;
    --bs-dropdown-link-active-bg: #aaa891;

    border: none;
}

/* buttons */
.btn:hover {
    background-color: #56534a;;
}

.btn-primary {
    color: white;
    font-size: 10px;
    
    --bs-btn-bg: #56534a;
    --bs-btn-border-color: none;
    --bs-btn-hover-color: #ebd7c6;
    --bs-btn-hover-bg: #56534a;
    --bs-btn-hover-border-color: none;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #b2ac88;
    --bs-btn-active-bg: #090907;
    --bs-btn-active-border-color: none;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-bg: none;
    --bs-btn-disabled-border-color: none;
}

.btn-secondary {
    --bs-btn-bg: #56534a;
    --bs-btn-border-color: #56534a;
    
    --bs-btn-hover-bg: #56534a;
    --bs-btn-hover-border-color: #aaa891;
    
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    
    --bs-btn-active-color: white;
    --bs-btn-active-bg: #aaa891;
    --bs-btn-active-border-color: #56534a;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.show {
    background-color: #56534a;
    border-color: #56534a;   
}

/* Using a media query */
/* The media query's "min-width" value will tell CSS to change the width of your container to 1000px only on screens larger than 1200px */
@media (min-width: 1200px) {
    .black-key {
        margin: 0 -22px 0 -22px;
        width: 44px;
        height: 140px;
    }

    .white-key {
        height: 230px;
        width: 70px;
    }

    .form-cont{
        max-width: 800px;
    }

    .intro-cont {
        padding: 5%;
        padding-top: 6%;
        padding-bottom: 1%;
    }

    .projects-cont {
        padding: 1%;
        padding-top: 5%;
    }

    .form-outer-cont {
        padding: 10%;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    /* dropdown */
    .dropdown-menu {
        min-width: 375px;
    }
}