.first-cont {
    padding: 5%;
    padding-bottom: 1%;
    background: #7e928a;
}

.intro-section {
    padding-top: 3%;
}

.second-cont {
    padding-left: 4.5%;
    padding-right: 4.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    background: #aaa891;
}

.card-title,
.card-text,
.first-cont ,
.second-cont {
    color: white;
    font-family: "Georgia", serif;
}

.navbar-brand,
.nav-link {
    color: white;
    font-family: "Georgia", serif;
}

.navbar {
    --bs-navbar-toggler-focus-width: 0;
    --bs-navbar-active-color: #ebd7c6;
}

.navbar,
.navbar-nav {
    --bs-navbar-brand-hover-color: white;
    --bs-nav-link-hover-color: white;
}

.navbar-brand:hover,
.nav-link:hover {
    color: #ebd7c6;
}


p {
    text-align: justify;
}

.navbar-toggler {
    border: none;
}

.offcanvas {
    --bs-offcanvas-bg: #aaa891;
    --bs-offcanvas-color: none;
}

.grid-cont {
    --bs-gutter-x: 0;
}

.grid-container {
    display: grid;
}

.icon {
    filter: invert(1);
    width: 40px;
    height: auto;
}

.border-purp {
    border: 1px solid white;
}

.footer-sect {
    text-align: center;
}

.proj-row {
    background: #7e928a;
    padding: 1%;
    
}

.card-img-top {
    width: 100%;
    height: 15vh;
    object-fit: cover;
}

.card {
    width: 15rem; 
    height: fit-content;
    --bs-card-bg: none;
}

.card-text {
    font-size: 12px;
}

.btn-primary {
    --bs-btn-bg: #56534a;
    --bs-btn-border-color: #56534a;
    --bs-btn-hover-color: #ebd7c6;
    --bs-btn-hover-bg: #56534a;
    --bs-btn-hover-border-color: #56534a;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #b2ac88;
    --bs-btn-active-bg: #090907;
    --bs-btn-active-border-color: #56534a;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-bg: #56534a;
    --bs-btn-disabled-border-color: #56534a;
}