{% extends "layout.html" %}

{% block title %} 
    Contact 
{% endblock %}
    
    {% block main %}
        <div class="container-fluid form-outer-cont">
            <!-- Row three -->
            <div class="row bot-buffer">
                <div class="col">
                    <h1 class="contact-hdr">hello, user</h1>
                    <p class="contact-hdr">It is an option to contact me via the form below</p>
                </div>
            </div>

            <div class="container form-cont rounded-4">
                <div class="row form-title">
                    <h2>Form</h2>
                </div>

                <!-- Row one -->
                <div class="row form-areas">
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label for="firstName" class="form-label">First Name</label>
                            <input type="text" class="form-control" id="firstName" placeholder="John">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label for="lastName" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="lastName" placeholder="Doe">
                        </div>
                    </div>
                </div>

                <!-- Row two -->
                <div class="row form-areas">
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label for="emailAdd" class="form-label">Email Address</label>
                            <input type="email" class="form-control" id="emailAdd" placeholder="name@example.com">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label for="country" class="form-label">Country</label>

                            <button id="country" class="btn btn-primary form-control dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 16px;">Please select a country</button>
                                <ul class="dropdown-menu" id="countryList"></ul>
                        </div>
                    </div>
                </div>

                <!-- Row three -->
                <div class="row form-areas">
                    <div class="col">
                        <div class="mb-3">
                            <label for="messageBody" class="form-label">Message Body</label>
                            <textarea class="form-control" id="messageBody" rows="6"></textarea>
                        </div>
                    </div>
                </div>

                <!-- Row three -->
                <div class="row justify-content-center form-areas">
                    <div class="col">
                        <button id="formSubmit" type="submit" class="btn btn-primary mb-3 form-control" style="font-size: 16px;">Submit Form</button>
                    </div>
                </div>

            </div>
        </div>
    {% endblock %}