{% extends "layout.html" %}

{% block title %} 
    Home 
{% endblock %}

    {% block main %}
        <div class="container-fluid home-cont">
            <!-- Intro container-->
            <div class="container-fluid intro-cont">
                <!-- Introductory section -->
                <div class="row">
                    <div class="col-12 col-lg-7">
                        <h1>hello, world &#127757;</h1>
                        <p></p>
                        <p>
                            I'm Angela — currently a junior majoring in Computer Science at the University of the Philippines Tacloban College.
                        </p>
                        <p>
                            I'm always eager to learn new things, especially in my field of study.
                            As I work toward a career in Software Engineering, I continuously strive to expand my skills and knowledge;
                            and just like the many tech people that came before me, I aspire to develop innovative solutions that address real-world problems.
                        </p>
                    </div>
                    <div class="col col-lg-5 justify-content-end"></div>
                </div>
            </div>

            <!-- Custom grid display -->
            <div class="grid-cont">
                <div class="row grid-row">
                    <div class="col-lg-7">
                        <img src="../static/assets/anime-aesth/whisper-oth.png" class="w-100 h-100 object-fit-cover" alt="Whisper of the Heart">
                    </div>
                    <!-- d-flex flex-column to set a vertical direction-->
                    <!-- w-100 h-100 respecting container -->
                    <div class="col-lg-5 d-flex flex-column">
                        <div class="flex-fill">
                            <img src="../static/assets/anime-aesth/whisper-tbk.jpg" class="w-100 h-100 object-fit-cover" alt="Whisper of the Heart">
                        </div>
                        <div class="flex-fill">
                            <img src="../static/assets/anime-aesth/whisper-drp.jpg" class="w-100 h-100 object-fit-cover" alt="Whisper of the Heart">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Custom grid display -->
            <div class="grid-container">
                <div class="row grid-row">
                    <!-- d-flex flex-column to set a vertical direction-->
                    <!-- w-100 h-100 respecting container -->
                    <div class="col-lg-5 d-flex flex-column">
                        <div class="flex-fill">
                            <img src="../static/assets/anime-aesth/garden-ps1.jpg" class="w-100 h-100 object-fit-cover" alt="Garden of Words">
                        </div>
                        <div class="flex-fill">
                            <img src="../static/assets/anime-aesth/garden-scp.jpg" class="w-100 h-100 object-fit-cover" alt="Garden of Words">
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <img src="../static/assets/anime-aesth/garden-ps2.jpg" class="w-100 h-100 object-fit-cover" alt="Garden of Words">
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
