{% extends "layout.html" %}

{% block title %} 
    Home 
{% endblock %}

    {% block main %}
        <div class="container-fluid home-cont">
            <!-- Intro container-->
            <div class="container-fluid intro-cont">
                <!-- Introductory section -->
                <div class="row">
                    <div class="col-12 col-lg-7">
                        <h1>hello, world &#127757;</h1>
                        <p></p>
                        <p>
                            I'm Angela — currently a junior majoring in Computer Science at the University of the Philippines Tacloban College.
                        </p>
                        <p>
                            I'm always eager to learn new things, especially in my field of study.
                            As I work toward a career in Software Engineering, I continuously strive to expand my skills and knowledge;
                            and just like the many tech people that came before me, I aspire to develop innovative solutions that address real-world problems.
                        </p>
                    </div>
                    <div class="col col-lg-5 justify-content-end"></div>
                </div>
            </div>

            <!-- Custom grid display -->
            <div class="grid-cont">
                <div class="row grid-row">
                    <div class="col-lg-7">
                        <img src="../static/assets/whisper-oth.png" class="w-100 h-100 object-fit-cover" alt="Whisper of the Heart">
                    </div>
                    <!-- d-flex flex-column to set a vertical direction-->
                    <!-- w-100 h-100 respecting container -->
                    <div class="col-lg-5 d-flex flex-column">
                        <div class="flex-fill">
                            <img src="../static/assets/whisper-tbk.jpg" class="w-100 h-100 object-fit-cover" alt="Whisper of the Heart">
                        </div>
                        <div class="flex-fill">
                            <img src="../static/assets/whisper-drp.jpg" class="w-100 h-100 object-fit-cover" alt="Whisper of the Heart">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Custom grid display -->
            <div class="grid-container">
                <div class="row grid-row">
                    <!-- d-flex flex-column to set a vertical direction-->
                    <!-- w-100 h-100 respecting container -->
                    <div class="col-lg-5 d-flex flex-column">
                        <div class="flex-fill">
                            <img src="../static/assets/garden-ps1.jpg" class="w-100 h-100 object-fit-cover" alt="Garden of Words">
                        </div>
                        <div class="flex-fill">
                            <img src="../static/assets/garden-scp.jpg" class="w-100 h-100 object-fit-cover" alt="Garden of Words">
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <img src="../static/assets/garden-ps2.jpg" class="w-100 h-100 object-fit-cover" alt="Garden of Words">
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer container -->
        <div class="container-fluid text-center footer-cont">
            <!-- Text -->
            <div class="row">
                <div class="col footer-spec-col">
                    <p id="icon-hover" style="text-align: center;"><i>Page fin</i></p>
                    <hr>
                </div>
            </div>

            <!-- Contact external links -->
            <div class="row">
                <div class="col-3 d-flex align-items-center">
                    <div class="flex-fill">
                        <a href="" target="_blank"><img id="tele_ic" style="width: 40px" src="../static/assets/icon-telegram.svg" class="icon object-fit-cover" alt="Whisper of the Heart"></a>
                    </div>
                </div>
                <div class="col-3 d-flex align-items-center">
                    <div class="flex-fill">
                        <a href="https://github.com/adzalmazan1" target="_blank"><img id="gh_ic" style="width: 35px" src="../static/assets/icon-github.svg" class="icon object-fit-cover" alt="Gmail"></a>
                    </div>
                </div>
                <div class="col-3 d-flex align-items-center">
                    <div class="flex-fill">
                        <a href="https://www.strava.com/athletes/adzalmazan" target="_blank"><img id="strv_ic" style="width: 35px" src="../static/assets/icon-strava.svg" class="icon object-fit-cover" alt="Whisper of the Heart"></a>
                    </div>
                </div>
                <div class="col-3 d-flex align-items-center">
                    <div class="flex-fill">
                        <a href="https://www.linkedin.com/in/adzalmazan1/" target="_blank"><img id="link_ic" style="width: 45px" src="../static/assets/icon-linkedin.svg" class="icon object-fit-cover" alt="LinkedIn"></a>
                    </div>
                </div>
            </div>
        <!-- End of file -->
        </div>
{% endblock %}
