<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- link for CSS, script for JS (bootstrap framework) -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="../static/js/main.js"></script>

        <!-- Own css file -->
        <link href="../static/styles.css" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="../static/assets/icons/icon.png">

        <title>{% block title %} {% endblock %}</title>
    </head>
    <body>
        <div class="container-fluid overall-cont">

            <!-- Navbar container -->
            <nav class="navbar navbar-expand-lg shadow-sm fixed-top">
            <!-- Container for -->
            <div class="container">
                <a class="navbar-brand" href="../static/assets/icons/ADAlmazan_Resume.pdf" download="Resume">adzalmazan</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">adzalmazan</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1">
                    <!-- Home -->
                    <!-- Add a scroll to top js -->
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'index' %}active{% endif %} mx-lg-2" href="/">Home</a>
                    </li>
                    <!-- About -->
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'about' %}active{% endif %} mx-lg-2" href="/about">About</a>
                    </li>
                    <!-- Projects -->
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'projects' %}active{% endif %} mx-lg-2" href="/projects">Projects</a>
                    </li>
                    <!-- Contact -->
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'contact' %}active{% endif %} mx-lg-2" href="/contact">Contact</a>
                    </li>
                    </ul>
                </div>
                </div>
            </div>
            </nav>
            
            {% block main %} {% endblock %}

            <!-- Footer container -->
            <div class="container-fluid text-center footer-cont">
                <!-- Text -->
                <div class="row">
                    <div class="col">
                        <p id="icon-hover" style="text-align: center;"><i>Page fin</i></p>
                        <hr>
                    </div>
                </div>

                <!-- Contact external links -->
                <div class="row">
                    <div class="col-3 d-flex align-items-center">
                        <div class="flex-fill">
                            <a href="https://www.instagram.com/ausdotsn50/" target="_blank"><img id="insta_ic" style="width: 37.5px" src="../static/assets/icons/icon-instagram.svg" class="icon object-fit-cover" alt="Instagram"></a>
                        </div>
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        <div class="flex-fill">
                            <a href="https://github.com/ausdotsn50/" target="_blank"><img id="gh_ic" style="width: 35px" src="../static/assets/icons/icon-github.svg" class="icon object-fit-cover" alt="Gmail"></a>
                        </div>
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        <div class="flex-fill">
                            <a href="https://www.strava.com/athletes/adzalmazan" target="_blank"><img id="strv_ic" style="width: 35px" src="../static/assets/icons/icon-strava.svg" class="icon object-fit-cover" alt="Strava"></a>
                        </div>
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        <div class="flex-fill">
                            <a href="https://www.linkedin.com/in/ausdotsn50/" target="_blank"><img id="link_ic" style="width: 45px" src="../static/assets/icons/icon-linkedin.svg" class="icon object-fit-cover" alt="LinkedIn"></a>
                        </div>
                    </div>
                </div>
            </div> <!-- Footer end -->

        </div>
    </body>
</html>